<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus dolorum pariatur magnam ratione maxime qui distinctio, saepe illo ut quo voluptatem ipsam aut provident in fugit libero soluta, ipsum fuga!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus dolorum pariatur magnam ratione maxime qui distinctio, saepe illo ut quo voluptatem ipsam aut provident in fugit libero soluta, ipsum fuga!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus dolorum pariatur magnam ratione maxime qui distinctio, saepe illo ut quo voluptatem ipsam aut provident in fugit libero soluta, ipsum fuga!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus dolorum pariatur magnam ratione maxime qui distinctio, saepe illo ut quo voluptatem ipsam aut provident in fugit libero soluta, ipsum fuga!
        <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus dolorum pariatur magnam ratione maxime qui distinctio, saepe illo ut quo voluptatem ipsam aut provident in fugit libero soluta, ipsum fuga!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus dolorum pariatur magnam ratione maxime qui distinctio, saepe illo ut quo voluptatem ipsam aut provident in fugit libero soluta, ipsum fuga!
        <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus dolorum pariatur magnam ratione maxime qui distinctio, saepe illo ut quo voluptatem ipsam aut provident in fugit libero soluta, ipsum fuga!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus dolorum pariatur magnam ratione maxime qui distinctio, saepe illo ut quo voluptatem ipsam aut provident in fugit libero soluta, ipsum fuga!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae sunt distinctio incidunt nemo, dolores eos. Laudantium, natus! Dolor asperiores sint atque officia ullam dolorem, commodi exercitationem pariatur quisquam sit numquam!
        <br> <br>
    </p>
</div>
